.root {
  /* Layout */
  display: block;
  width: 100%;
  position: relative;
}

/* Firefox doesn't support image aspect ratio inside flexbox */
/* Aspect ratio for is given inline */
.aspectPadding {
}

.aspectBox {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* .chipContainer {
  position: absolute;
  z-index: 999;
  margin-left: 18px;
  margin-top: 18px;
  border-radius: 8px;
  border-width: 1px;
  border-color: #43B5A5;
  background-color: #43B5A5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.chipText {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: small;
} */
